In [1]:
print("Hello world")

Hello world

In [4]:
import pandas as pd 
df=pd.read_csv("nodes-addresses.csv",low_memory=False)

In [5]:
nombre_de_pays= len(df["countries"].drop_duplicates())

In [11]:
print(nombre_de_pays)
#Question 1
#Nombre de pays qui ont été déclaré dans les offshore leaks

238

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390995 entries, 0 to 390994
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   _id            390995 non-null  int64
 1   node_id        390995 non-null  int64
 2   address        371063 non-null  object
 3   name           223348 non-null  object
 4   countries      265805 non-null  object
 5   country_codes  265805 non-null  object
 6   sourceID       390995 non-null  object
 7   valid_until    390995 non-null  object
 8   note           25 non-null      object
dtypes: int64(2), object(7)
memory usage: 26.8+ MB

In [13]:
df["countries"].value_counts()

China                       32067
Hong Kong                   27179
United States               24248
Barbados                    19344
Aruba                       17512
                            ...
Northern Mariana Islands        1
New Caledonia                   1
Norfolk Island                  1
Réunion                         1
Korea, Republic of              1
Name: countries, Length: 237, dtype: int64

In [14]:
P_Of_Irland=len(df[df["countries"]=="Ireland"])

In [15]:
print(P_Of_Irland)
#Question 2
#Voici le nombre d'entrée dans lequel le mot Ireland est présent

899

In [18]:
nodes_officier=pd.read_csv("nodes-officers.csv",low_memory=False)

In [19]:
nmbre_montagne=len(nodes_officier[nodes_officier["name"]=="EL PORTADOR"])

In [20]:
print(nmbre_montagne)
#Question 3 
#Nombre de montagne dans lequel apparaît "El PORTADOR"

9325